{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="home-img">
    <img class="img-sec" src="{% static 'images/res_2.jpg' %}" alt="">
    <div class="about-us">
        <h2 class="abt-title">About us</h2>
        <p class="text-abt">Welcome to Take It Cheesy. Established with a passion for flavors and 
        a commitment to providing a memorable meal, we invite you to embark on a journey with us.</p>
        <h2 class="abt-title">Our Philosophy</h2>
        <p class="text-abt">We are dedicated to sourcing the finest, freshest ingredients to create dishes
             that celebrate the rich tapestry of flavors. Our chefs bring creativity to the kitchen, 
             combining traditional techniques with a modern twist to present you with a menu that delights 
             and surprises.</p>
        <h2 class="abt-title">Join us</h2>
        <p class="text-abt">Come share in the joy of good food and good company. Whether you're a 
            seasoned foodie or someone discovering the world of flavors, Take It Cheesy welcomes you 
            to indulge in an unforgettable dining experience.</p>
    </div>
</div>
{% endblock %}